.experience-container {
    margin: 4rem 0;
    position: relative;
    margin-top: 0 !important;
}

.experience-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #fff;
}

@media (max-width: 768px) {
    .experience-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}