.hero-container {
    display: grid;
    place-items: center;
    height: 90vh;
}

.hero-content {

}

.hero-container::after,
.hero-container::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 2.125rem;
    background-color: var(--coloBtnHire);
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
    animation: floating 5s infinite;
}

.hero-container::before {
    bottom: 2rem;
    right: 0;
    animation: floatingSec 5s infinite;
}

@keyframes fontColor {
    0% {

    }
    50% {

        color: #750E21;
    }
    100% {
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-70px);
        transform: translateX(-70px);
        background-color: #750E21;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floatingSec {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(90px);
        background-color: #535C91;
    }
    100% {
        transform: translateY(0);
    }
}

.hero-content h2 p {
    color: #fff;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin: 0;
}

.hero-content p {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

#typewriter {
    color: var(--coloBtnHire);
    text-align: center;
}

@media (max-width: 1025px) {
    .hero-content h2 p {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
}

