.nav-wrapper {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    color: var(--coloBtnHire);
    width: 12rem;
    height: auto;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: start;
    letter-spacing: 2px;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li {
    margin: 0 1.5rem;
}

.menu-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--colorFontNav);
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
}


.menu-item::before {
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(
        90deg,
        var(--coloBtnHire) 0%,
        var(--coloSecBtnHire) 100%
    );
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.2s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.contact-btn {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(
        90deg,
        var(--coloBtnHire) 0%,
        var(--coloSecBtnHire) 100%
    );
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    outline: 1.5px solid transparent;
    transition: all 0.2s ease;
    text-decoration: none;
}

.contact-btn:hover {
    color: var(--coloBtnHire);
    background: var(--colorBackgroung);
    outline: 1.5px solid var(--coloBtnHire);
}

.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background: linear-gradient(
        90deg,
        var(--coloBtnHire) 0%,
        var(--coloSecBtnHire) 100%
    );
    line-height: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    display: none;
}

.menu-btn:hover {
    color: var(--coloBtnHire);
    background: var(--colorBackgroung);
    border: 1px solid var(--coloBtnHire);
}

@media (max-width: 768px) {
    .nav-content ul {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media (max-width: 1325px) {
    .nav-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 425px) {
    .logo {
        width: 10rem;
        height: auto;
    }
}
