.footer {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    background: linear-gradient(
        90deg,
        var(--coloBtnHire) 0%,
        var(--coloSecBtnHire) 100%
    );
    padding: 1rem;
}
