:root {
    --colorBackgroung: #1b2430;
    --colorFontNav: #fff;
    --coloBtnHire: #8fd6e1;
    --coloSecBtnHire: #1597bb;
    --colorNavMobile: #27374d;
}
html{
    scroll-behavior: smooth;
    scroll-margin: 2rem;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--colorBackgroung);
    scroll-margin-top: 5rem !important;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Estiliza la barra de desplazamiento completa */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    height: 12px; /* Altura de la barra de desplazamiento para contenedores horizontales */
}

/* Estiliza el fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #8fd6e1;
    border-radius: 10px;
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #27374d;
    border-radius: 10px;
    transition: all 0.2s ease;
}

/* Estiliza el pulgar cuando el rat贸n pasa por encima */
::-webkit-scrollbar-thumb:hover {
    background: #1b2430;
}

/* Opcional: Estiliza el bot贸n de incrementaci贸n/decrementaci贸n de la barra de desplazamiento */
::-webkit-scrollbar-button {
    background: #fff;
    display: none; /* Oculta los botones */
}
